/* width 
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  Handle 
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  Handle on hover 
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  */


:root {
    --cor-1: rgb(39, 198, 209);
}

::-webkit-scrollbar {
    width: 6px;
}

.tab_training::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-1);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}


* {
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    color: white;
    background-color: rgb(30, 30, 30);
}

a{
    color: white;
}

a:hover{
    color: var(--cor-1);
}

header {
    top: 0;
    width: 100%;
    height: 10%;
    z-index: 10;
    position: fixed;
    transition: top 0.5s;
    background-image: linear-gradient(rgba(25, 25, 25), rgba(30, 30, 30));
}

nav {
    height: 100px;
    display: flex;
    margin: 0px 5%;
    transition: 0.3s;
    align-items: center;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#logo {
    /* border-bottom: 5px groove gray; */
    /* border-right: 5px groove gray; */
    padding: 10px;
    border-image: linear-gradient(45deg, #FFFFFF, rgb(28, 149, 158, 0.3)) 10;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(28, 149, 158, 0.3);
    font-size: x-large;
    color: rgb(39, 198, 209);
}

#menu {
    display: flex;
}

#lista-menu {
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}


#lista-menu a{
    text-decoration: none;
}

#lista-menu li.selected a {
    color: var(--cor-1);
    font-weight: bold;
}


#icon-list {
    display: none;
}

li {
    margin: 1vh 2vh;
    position: relative;
}

#curriculo {
    display: none;
}

main {
    width: 100% !important;
    height: auto;
    margin: auto;
    max-width: 1600px;
    padding: 0px 100px;
}

h1 {
    color: rgb(28, 149, 158);
    line-height: 1.1;
    font-weight: 900;
    text-decoration: underline;
    text-transform: uppercase;
}

h4 {
    font-size: 1.375rem;
}

#subtitle {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    line-height: 1.1;
    font-weight: 600;
    text-transform: uppercase;
    align-items: baseline;
    flex-wrap: wrap;
}

#subtitle span {
    display: inline-block;
}

#subtitle i {
    /* margin-top: 10px; */
    margin-left: 5px
}

#subtitle div {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* #add_decoration{
  } */

.decoration {
    position: fixed;
    width: 100px;
    text-align: center;
}

#left_contacts {
    bottom: 0px;
    z-index: 10;
}

#right_curriculum {
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flex_decoration {
    padding: 0;
    list-style-type: none;
}

.svg-bootstrap {
    margin-bottom: 10px;
}

#curriculo-doc {
    font-size: larger;
    white-space: nowrap;
    transform: rotate(270deg);
}

.conteiner_fixed {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed_decoration {
    margin: auto;
    height: 100%;
    border-left: 1px solid rgb(39, 198, 209);
}

section {
    width: 100%;
    overflow: hidden;
    min-width: 100%;
    position: relative;
    height: 100vh;
    display: grid;
    padding: 100px 0px;
    align-items: center;
    max-width: max-content;
    align-content: center;
    scroll-snap-align: center none;
}


#section_home {
    display: flex;
    margin: 0px auto;
    max-width: max-content;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#introduction {
    margin-bottom: 3%;
}

#avatar {
    background-image: url(image/image-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 175px;
    height: 175px;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid white;
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.6);
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

#about-content {
    margin-top: 1vh;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.text-p {
    font-weight: lighter;
    text-indent: 20px;
    line-height: 1.6;
}

.text-sub {
    font-weight: bold;
}

.text-res {
    font-size: smaller;
    margin-bottom: 20px;
}

.avatar {
    flex-shrink: 0;
    width: 150px;
    height: auto;
}

#inner_training,
#inner_jobs {
    box-sizing: border-box;
    width: 100% !important;
    height: 100%;
    overflow: hidden;
    display: block;
}

.content-option {
    position: relative;
}

#nav_training {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    position: sticky;
    height: calc(100% - 1.275rem + .3vw);
    list-style-type: disc;
}


#bottom_jobs,
#nav_training {
    float: left;
    width: 20%;
    min-width: 150px;
    height: 90%;
    margin: 0;
    padding: 0;
    border-right: 1px solid gray;
}

#bottom_jobs li,
#nav_training li {
    text-align: left;
    transition: 0.3s;
    cursor: pointer;
    list-style-type: disclosure-closed;
}

#exert_jobs,
#exert_training {
    overflow: auto;
    flex-grow: 1;
    width: 80%;
    height: calc(100% - 1.375rem);
    box-sizing: border-box;
    display: grid;
}

.tab_jobs,
.tab_training {
    height: 100%;
    overflow: auto;
    padding: 0px 12px;
}

.tab_jobs div .text-p:nth-child(2){
    margin-bottom: 0;
}

.content_training {
    display: grid !important;
    height: 100%;
    overflow: auto;
    place-items: center;
}

.tab-2 {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
}

.tab-2 div {
    text-align: center;
}

#bottom_jobs li.active,
#nav_training li.active {
    color: rgb(39, 198, 209);
}


footer{
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    height: 75vh;
    text-align: center;
    display: grid;
    padding: 100px 25px;
    align-items: center;
    max-width: max-content;
    align-content: center;
    scroll-snap-align: center none;
}

#content-footer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#img-footer{
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}


.bola {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
    background-color: transparent;
    border: 2px solid gray;
}

.pintar {
    background-color: white;
}


@media screen and (max-width: 768px) {
    ::-webkit-scrollbar {
        width: 2px !important;
        height: 2px !important;
    }


    ::-webkit-scrollbar-track {}

    h5 {
        text-align: center;
        font-size: 1.2rem;
    }

    /* section{
        align-content: normal;
    } */

    #section_training,
    #section_jobs {
        align-items: normal;
        align-content: normal;
    }

    .hidden-px {
        display: none;
    }

    .text-p {
        font-size: 12px;
    }

    .bola {
        width: 15px;
        height: 15px;
    }

    .content_training {
        height: auto !important;
        margin-top: 20px;
        display: block !important;
    }

    .option_training {
        overflow: visible;
        text-align: center;
    }

    #lista-menu,
    .flex_decoration>li {
        display: none;
    }

    #icon-list {
        display: block;
    }

    #curriculo {
        display: block;
    }

    main {
        padding: 0px 25px;
    }

    #subtitle {
        font-size: 1.2rem;
    }

    #nav_training,
    #bottom_jobs {
        height: 40px;
        margin: 0% !important;
        width: 100% !important;
        border: none !important;
        display: flex !important;
        margin-bottom: 10px;
        white-space: nowrap;
        overflow-x: scroll;
        justify-content: space-evenly !important;
        border-bottom: 1px solid gray !important;
    }

    #exert_jobs,
    #exert_training {
        width: 100%;
        height: calc(100% - 1.2rem - 40px);
        margin-top: 10px;
        margin-bottom: 30px;
    }
    
    .content-option {
        display: contents;
    }

    .tab_jobs,
    .tab_training {
        border: none;
    }
}